<p id="notice"><%= notice %></p>
<!-- 
<p>
  <strong>Employee:</strong>
  <%= @order.employee.name %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @order.dish.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>
 -->
<!-- 
<%= link_to 'Edit', edit_order_path(@order) %> |
 -->
<a href="/orders" class="btn">Voltar</a>  
