<div id="calendar" class="calend">
  <h4 id="month">
    
    <%= l @date, format: :home %>
    
  </h4>  
  <%= calendar_for @orders, :year => @date.year, :month => @date.month do |t| %>
    <%= t.head('DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB') %>
    <%= t.day do |day, orders| %>
      <%= day.day %>
      <% orders.each do |order| %><br>
        <%= link_to h(order.employee.name), order %>
        <%= link_to t(:edit), edit_order_path(order) %> 
       <%= link_to t(:destroy), order,  method: :delete, data: { :confirm => t('.confirmation') } %>
      <% end %>
    <% end %>
  <% end %>
</div> 