<h4>Marmitas <%= l @date, format: :home %></h4><hr>
<table class="table">
  <thead>
    <tr>
      <th> Nome </th>
      <th> Quantidade </th>          
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |e| %>
      <tr>              
        <td> <%= e.name %></td>
        <td> <%= e.total_pedidos_mes %> </td>
      </tr>
    <%end%>          
  </tbody>        
</table>
<hr>
<div class="digg_pagination" >
  <%= will_paginate @employees, :page_links => false %>
  <span class="total">Total.:<%= @orders.size %> </span> 
</div>

